.buttonDone {
  border: 1px solid #ff5500;
  color: #ff5500;
  background: #fff;
}

.button {
  outline: none;
  color: #646669;
  transition: color 0.2s ease-in-out;
  background: none;
  border-radius: 100px;
  border: 1px solid #747775;
  display: inline-block;
  outline: 0;
  padding: 9px 23px 9px 23px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  color: #d1d0c5;
  cursor: pointer;
}