.counter {
  background: #ff5500;
  width: 28px;
  height: 28px;
  padding: 4px;
  border-radius: 8px;
  letter-spacing: 0;
  color: white;
  text-align: center;
  font:
    600 14px/20px "Roboto",
    Arial,
    sans-serif;
}
