.letterRight,
.letterCurrent,
.letterWrong,
.letterExtra,
.letter {
    display: inline-flex;
    justify-content: space-around;
    width: 20px;
    font-size: 24px;
    font-weight: 700;
}

.letterExtra {
    color: #3a71ff;
}

.letter {
    color: #646669;
}

.letterCurrent {
    position: relative;
    color: #646669;
}

.letterCurrentLast::before,
.letterCurrent::before {
    content: '';
    position: absolute;
    display: block;
    width: 3px;
    height: 26px;

    border-radius: 10px;

    color: orange;
    background: #e2b714;

    transition: left .1s ease;
    transform: translate(-10px, 4px);
    animation: blink 1s 0.5s infinite;
}

.letterCurrentLast::before {
    transform: translate(10px, 4px);
}

.letterRight {
    color: #d1d0c5;
}

.letterWrong {
    color: #ca4754;
}
