.filmDetailsContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.filmDetailsContainer,
.filmContainer {
  display: flex;
  gap: 24px;
}

.filmContainer {
  flex-direction: row !important;
}

.filmPoster {
  width: 400px;
  height: 500px;
  border-radius: 8px;
}

.filmHeader {
  display: flex;
  justify-content: space-between;
}

.filmContent {

}

.filmDescriptionHeader {
  font: 600 20px/24px 'Roboto', Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: #1B1F23;
}