.words {
    --bg-color: #323437;
    --font-color: #789;
    --hl-color: orange;
    --fg-color: #292f34;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.words {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    height: 193px;
    margin-left: unset;
    overflow: hidden;
    user-select: none;
    transition: none;
}

.word {
    position: relative;
    margin: 0 5px 2px;
}

.caretBlink {
    animation: blink 1.5s 1s infinite;
}

.caret {
    position: absolute;
    left: 40px;
    width: 2px !important;
    height: 29px;
    border-radius: 10px;

    z-index: 10;

    background: var(--hl-color);
    transition: left .1s ease;
}

.letterRight,
.letterWrong,
.letterExtra,
.letter {
    display: inline-flex;
    justify-content: space-around;
    width: 20px;
    font-size: 24px;
    font-weight: 700;
}

.letterExtra {
    color: #3a71ff;
}

.letter {
    color: #646669;
}

.letterCurrent {
    position: relative;
    color: #646669;
}

.letterCurrent::before {
    position: absolute;
    display: block;
    width: 3px;
    height: 26px;

    border-radius: 10px;

    color: var(--hl-color);
    background: #e2b714;

    transition: left .1s ease;
    transform: translate(-10px, 4px);
    animation: blink 1s 0.5s infinite;
}

.letterRight {
    color: #d1d0c5;
}

.letterWrong {
    color: #ca4754;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

