.filmFilter {
  position: sticky;
  top: 108px;
  left: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 370px;
  min-width: 370px;
  height: calc(100vh - 120px);
  min-height: calc(100vh - 120px);

  padding: 24px;
  background: white;

  border-radius: 8px;
  box-sizing: border-box;
}