.filmFilter {
  position: sticky;
  top: 120px;
  left: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 370px;
  min-width: 370px;
  height: min-content;

  padding: 24px;
  background: white;

  border-radius: 8px;
  box-sizing: border-box;
}
