.linkText {
  letter-spacing: 0;
  text-align: left;
  color: white;
  font:
    400 20px/23px "Roboto",
    Arial,
    sans-serif;
}

.linkTextLarge {
  font-size: 32px;
  line-height: 37px;
  font-weight: 700;
}
