.reviewList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.reviewTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.reviewContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(100% - 150px);
}

.reviewImage {
  width: 100px;
  height: 100px;
}

.reviewRating {
  font: 400 20px/32px 'Roboto', Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: #1B1F23;
}